<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <%= @issues.total_count %>
      </p>
    </div>
  </div>

  <%= switch_status_of_issues(params[:status]) %>
</div>
