<form id="find_issue">
  <div class="field has-addons">
    <div class="control is-expanded">
      <input class="input is-large" type="text" name="token"
             placeholder="Введите уникальный идентификатор вашего запроса">
    </div>
    <div class="control">
      <a id="find" class="button is-large is-primary">
        Найти
      </a>
    </div>
  </div>

  <p class="help is-danger" style="display: none;">
    не может быть пустым
  </p>
</form>
